{% extends 'TunisiaMallAdministrationBundle::responsable.html.twig' %}
{% block navigation %} <li>
        <a href="index.html"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>                        
    </li>
    <li class="xn-openable">
        <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Gestion de Stock</span></a>
        <ul>
             <li><a href="{{path('ajouter_produit')}}"><span class="fa fa-image"></span> Ajouter</a></li>
            <li class="active"><a href="{{path('_afficher_produit')}}"><span class="fa fa-user"></span> Consulter</a></li>
            <li><a href="{{path('_recherche_article')}}"><span class="fa fa-users"></span> Rechercher</a></li>


        </ul>
    </li>
    <li>
        <a href="index.html"><span class="fa fa-desktop"></span> <span class="xn-text">Publicité</span></a>                        
    </li>
    <li class="xn-openable">
        <a href="#"><span class="fa fa-file-text-o"></span> <span class="xn-text">Fidélisation</span></a>
        <ul>

            <li><a href="/TunisiaMallV2/web/app_dev.php/AjoutCarte">Ajouter une carte de fidélité</a></li>
            <li><a href="/TunisiaMallV2/web/app_dev.php/AttribuerPoint">Consulter/Attribuer des points</a></li>
        </ul>
    </li>
    <li class="xn-openable">
        <a href="#"><span class="fa fa-file-text-o"></span> <span class="xn-text">Gestion des enseignes</span></a>
        <ul>

            <li><a href="">Ajouter une enseigne</a></li>
            <li><a href="">Modifier les coordonnées d’une enseigne</a></li>
            <li><a href="">Supprimer une enseigne</li>
        </ul>
    </li>
{% endblock %}
{% block emplacement %} <li class="active">Ajouter Un Produit</li>{%endblock%}
{% block content%}
  <div class="page-content-wrap">                

        <div class="row">
            <div class="col-md-6">
                <form action="" method="post" {{ form_enctype(Form) }}>
                    <!-- START VALIDATIONENGINE PLUGIN -->
                    <div class="block">
                        <h4>Ajouter Produit</h4>                                
                        <form id="validate" role="form" class="form-horizontal" action="javascript:alert('Form #validate submited');">                            
                      <label>Référence de l'article:</label>

                                {{form_widget(Form.ref,{ 'attr': {'class': 'validate[required,maxSize[8]] form-control'} })}}
                      
                            <label>Nom de l'article:</label>

                                {{form_widget(Form.nomProduit,{ 'attr': {'class': 'validate[required,maxSize[8]] form-control'} })}}
                            <br>

                                <label>Description:</label>

                                {{form_widget(Form.Description,{ 'attr': {'class': 'validate[required,maxSize[8]] form-control'} })}}
                                                                        <br>

                                <label>Type de produit:</label>

                                {{form_widget(Form.typeProduit,{ 'attr': {'class': 'validate[required,maxSize[8]] form-control'} })}}
                                                                        <br>
                              <label>Nom de catégorie:</label>

                                {{form_widget(Form.nom_categorie,{ 'attr': {'class': 'validate[required,maxSize[8]] form-control'} })}}
                                                                        <br>

                                <label>Id enseigne:</label>

                                {{form_widget(Form.idenseigne,{ 'value': app.user.id,'attr': {'class': 'validate[required,maxSize[8]] form-control'} })}}
                                         <br>

                                <label>Prix en détaille:</label>
                                {{form_widget(Form.prix,{ 'attr': {'class': 'validate[required,maxSize[8]] form-control'} })}}
                            <br>
                            <label>Quantité:</label>
                    {{form_widget(Form.quantiteStock,{ 'attr': {'class': 'validate[required,maxSize[8]] form-control'} })}}
                            <br>
                             <label>Prix en gros:</label>
                    {{form_widget(Form.prixGros,{ 'attr': {'class': 'validate[required,maxSize[8]] form-control'} })}}
                            <br>
                             <label>Prix d'achat:</label>
                    {{form_widget(Form.prixdetaille,{ 'attr': {'class': 'validate[required,maxSize[8]] form-control'} })}}
                            <br>
                    </div>
                    



                    <div class="btn-group pull-right">
                        {{form_rest(Form)}}
                    </div>     
                </form>                                   
                </form>
            </div>               
        </div>
    </div>
</div>
 {% endblock %}